<div class="container">
  <div class="grid gap-3 p-2 mx-3">
    <br/>
    <br/>
    <div class="text-center">
      <h2 class="fw-bold">プライバシーポリシー</h2>
    </div>
    <br/>
    <div class="m-2 p-3">
      <h5 class="fw-bold">お客様情報取得</h5>
      <p class="mx-2">当運営者は、お客様から以下の情報を取得します。</p>
      <ul class="agreement">
        <li>お客様氏名(ニックネームやペンネームも含む)</li>
        <li>お子様等の氏名(ニックネームやペンネームも含む)</li>
        <li>お子様等の年齢または生年月日</li>
        <li>メールアドレス</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>Cookie(クッキー)を用いて生成された識別情報</li>
      </ul>
    </div>
    <div class="m-2 p-3">
      <h5 class="fw-bold p-1">お客様の情報を利用する目的</h5>
      <p class="mx-2">当運営者は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="agreement">
        <li>当サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当サービスの利用履歴を管理するため</li>
        <li>当サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
        <li>当のサービスに関するご案内をするため</li>
        <li>お客様からのお問い合わせに対応するため</li>
        <li>当の規約や法令に違反する行為に対応するため</li>
        <li>当サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>当規約の変更等を通知するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </div>
    <div class="m-2 p-3">
      <h5 class="fw-bold p-1">安全管理のために講じた措置</h5>
      <p class="mx-2">当サービスが、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
      <br/>
      <h5 class="fw-bold p-1">第三者提供</h5>
      <p class="mx-2">当サービスは、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
      但し、次の場合は除きます。</p>
      <ul class="agreement">
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当サービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>
    </div>
    <div class="m-2 p-3">
      <h5 class="fw-bold p-1">アクセス解析ツール</h5>
      <p class="mx-2">当サービスは、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
      <span class="p-1 mx-2"><%= link_to "Google アナリティクス利用規約", "https://marketingplatform.google.com/about/analytics/terms/jp/", class: ' main-link' %></p>
    </div>
    <div class="m-2 p-3">
      <h5 class="fw-bold p-1">プライバシーポリシーの変更</h5>
      <p class="mx-2">当サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
    </div>
    <div class="m-2 p-3">
      <h5 class="fw-bold p-1">お問い合わせ</h5>
      <p class="mx-2">本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>
      <p class="mx-2"><%= link_to 'お問い合わせ', 'https://forms.gle/RaSm2KgnVxpKUa689', class: "main-link" %></p>
      <p class="mx-2">なお、お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、必ず運転免許証のご提示等当サービスが指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
    </div>
    <div class="m-2 p-3">
      <p class="mx-2">2024年02月10日 制定</p>
    </div>
    <div class="p-2">
      <%= link_to root_path, class: 'main-link ' do %>
        <i class="fa-solid fa-circle-arrow-left"></i><span>戻る</span>
      <% end %>
    </div>
  </div>
</div>