<div crass="container">
  <div class="row grid gap-3">
    <div class="text-center">
      <div class="p-2 col">
        <%= image_tag 'logo.png', class: 'mx-auto d-block', width: '60%' %>
      </div>
      <div class="p-4 d-grid gap-4 col-3 mx-auto">
        <button type="button" class="col btn btn-original btn-lg">
          <%= link_to 'Log in', new_parent_session_path, class: 'body_link' %>
        </button>
        <button type="button" class="col btn btn-original btn-lg">
          <%= link_to 'ログアウト（仮）', destroy_parent_session_path, method: :delete, class: 'body_link' %>
        </button>
      </div>
    </div>
  </div>
</div>
