<div class="container">
  <div class="grid gap-3 p-2 mx-3">
    <br/>
    <br/>
    <div class="text-center">
      <div class="m-2 p-3">
        <h3>LINEのご登録</h3>
        <h3>ありがとうございます</h3> 
      </div>
      <div class="m-2 p-3">
        <p>公式チャンネルから通知を</p>
        <p>送らせていただくために</p>
        <p>お友だちに追加をお願いします☺︎✻</p>
      </div>
      <div class="m-2 p-3">
        <a href="https://line.me/R/ti/p/%40091jhmja"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
      </div>
      <img src="https://qr-official.line.me/gs/M_091jhmja_GW.png?oat_content=qr" width="40%">
    </div>
  </div>
</div>