<div class="container">
  <div class="row grid gap-3">
    <div class="text-center">
      <br />
      <br />
      <br />
      <br />
    <div class="h6 col">⇩マイページはこちらから⇩</div>
    <div class="display-5 p-2">
      <%= link_to @current_parent.name, parents_path(@current_parent), class: 'name-link' %>
    </div>
      <br />
      <br />
      <br />
      <br />
    <div class="h6 col">⇩お名前を選択してください⇩</div>
    <div class="display-5 p-2">
      <% @children.each do |child| %>
        <button type="button" class="btn btn-original  btn-lg">
          <%= link_to child, child_path, class: 'body-link' %>
        </button>
      <% end %>
    </div>
  </div>
</div>
