<div crass="container">
  <div class="row grid gap-3">
    <div class="text-center">
      <div class="display-5 p-4">Sign up</div>

      <%= render 'form' %>

      <div class="field p-2 col">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
