<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <div class="h3">ご褒美登録</div>
        <div class="p-3 m-4">
          <h6>各やくそくの獲得ポイントは</h6>
          <h6>やくそく登録で設定します</h6>
        </div>
      <%= render 'form' %>
    </div>
  </div>
</div>