<footer class="d-flex flex-nowrap p-3">
  <div class="container">
    <nav class="navbar-nav navbar-expand-lg">
      <div class="row text-center">
        <div class="col-4">
          <%= link_to 'ヘルプ', '#', class: "body-link" %>
        </div>
        <div class="col-4">
          <%= link_to '利用規約', '#', class: "body-link" %>
        </div>
        <div class="col">
          <%= link_to 'プライバシーポリシー', '#', class: "body-link" %>
        </div>
      </div>
    </nav>
    <br />
    <p class="text-center small">© 2024.1 promise_recorder</p>
  </div>
</footer>
