<footer class="d-flex flex-nowrap p-3">
  <div class="container-fluid">
    <nav class="navbar-nav navbar-expand-lg">
      <div class="container d-flex justify-content-between">
        <p class="text-white">© 2024.1 β版</p>
        <%= link_to 'ヘルプ', '#', class: "body-link" %>
        <%= link_to '利用規約', '#', class: "body-link" %>
        <%= link_to 'プライバシーポリシー', '#', class: "body-link" %>
      </div>
    </nav>
  </div>
</footer>