<footer class="container p-3">
  <nav class="navbar-nav navbar-expand-lg">
    <div class="text-center">
      <spam class="mx-2">
        <%= link_to 'ヘルプ', '#', class: "body-link initialism" %>
      </spam>
      <spam class="mx-2">
        <%= link_to 'プライバシーポリシー', '#', class: "body-link initialism" %>
      </spam>
      <spam class="mx-2">
        <%= link_to '利用規約', '#', class: "body-link initialism" %>
      </spam>
    </div>
  </nav>
  <br />
  <p class="text-center small">© 2024.1 promise_recorder</p>
</footer>
