<footer class="container p-3">
  <nav class="navbar-nav navbar-expand-lg">
    <div class="text-center">
      <span class="mx-2">
        <%= link_to 'ヘルプ', help_page_path, class: "body-link initialism" %>
      </span>
      <span class="mx-2">
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "body-link initialism" %>
      </span>
      <span class="mx-2">
        <%= link_to '利用規約', terms_of_service_path, class: "body-link initialism" %>
      </span>
    </div>
  </nav>
  <br />
  <p class="text-center small">© 2024.2 promise_recorder</p>
</footer>
