<footer class="container p-3">
  <nav class="navbar-nav navbar-expand-lg">
    <div class="text-center">
      <spam class="mx-2">
        <%= link_to 'お問い合わせ', 'https://forms.gle/RaSm2KgnVxpKUa689', class: "body-link initialism" %>
      </spam>
      <spam class="mx-2">
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "body-link initialism" %>
      </spam>
      <spam class="mx-2">
        <%= link_to '利用規約', terms_of_service_path, class: "body-link initialism" %>
      </spam>
    </div>
  </nav>
  <br />
  <p class="text-center small">© 2024.2 promise_recorder</p>
</footer>
