<header class="container-fluid">
  <div class="d-flex align-items-center justify-content-between p-1">
    <div class="justify-content-start">
      <a class="navbar-brand" href="/"><%= image_tag 'header.png', width: '50%' %></a>
    </div>
    <% if parent_signed_in? %>
      <%= link_to destroy_parent_session_path, method: :delete do %>
        <i class="fa-solid fa-person-walking-arrow-right body-link p-2 h3"></i>
      <% end %>
    <% end %>
  </div>
</header>
