<header class="container-fluid p-3">
  <div class="d-flex justify-content-between align-items-center">
    <h3><a class="navbar-brand" href="/">Promise Recorder</a></h3>
    <span>
      <% if parent_signed_in? %>
        <%= link_to 'ログアウト', destroy_parent_session_path, method: :delete, class: 'body-link' %>
      <% elsif @selected_child %>
        <%= @selected_child.name %>
      <% end %>
    </span>
  </div>
</header>