<!DOCTYPE html>
<html>
  <head>
    <title>Achievement Notification</title>
  </head>
  <body style="text-align: center;">
    <h2>Promise Recorder</h2>
    <p>いつもご利用ありがとうございます！</p>
    <p>今日は <%= @child.name %>さんのご褒美dayです🎁✨</p>
    <p>たくさん頑張ったと思うのでいっぱい褒めてあげてください😆‼️</p>
  
    <h3>＝＝＝＝＝＝今回のご褒美＝＝＝＝＝＝</h3>
    <p><%= @message %></p>
    <h3>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</h3>

    <p> < PromiseRecorder > </p>
  </body>
</html>
