<div class="parent_main">
  <div class="container">
    <div class="row grid gap-3">
      <div class="text-center">
        <div class="h3 p-4">メールアドレス変更</div>
          <div class="p-5">
            <p>メールアドレス変更フォームをお送りいたします。</p>
            <p>下記に新しく登録するメールアドレスを入力し、メール送信ボタンを押してください。</p>
          </div>

          <%= form_for(:parent, url: change_email_path, html: { method: :post }) do |f| %>
            <%# render "devise/shared/error_messages", resource: @pearent %>
            <div class="field h3 p-2 col">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <br />
            <br />
            <br />
            <div class="actions p-2 d-grid gap-4 col-5 mx-auto">
              <%= f.submit "メール送信", class: 'btn btn-original' %><br /><br />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  