body {
    background-color: #a4a498;
}

header {
    position: sticky;
    top: 0;
    width: 100%; 
    background-color: #a4a498;
    color: #fff;
    z-index: 9999;
    box-shadow: 0 3px 6px rgba(30, 30, 22, 0.25);
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: #fbfbe6;
    color: #69563e;
}

.parent_main{
    width: 100%;
    min-height: 100vh;
    background-color: #dbdbd9;
    background-size: cover;
}

footer {
    position: sticky;

    width: 100%;
    background-color: #a4a498;
    color: #fff;
}

/* 点滅 */
.blink {
	animation: blinking 1s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
