* {
    font-family: 'Hannotate SC';
}

.body-link {
    text-decoration: none;
    color: #fff;
}

.body-link:hover,
.body-link:active {
    text-decoration: none;
    color: #69563e;
}

.main-link {
    text-decoration: none;
    color: #db7133;
}

.main-link:hover,
.main-link:active {
    text-decoration: none;
    color: #69563e;
}

.list_color{
    color: #69563e;
}

.name-link {
    color: #a4a498
}

ul {
    list-style: none;
    color: #db7133;
    font-weight: bold;
}

.agreement{
    list-style: disc;
    color: #69563e;
    font-weight: bold;
}

.btn-original{
    color: #fff;
    background-color: #69563e;
}

.btn-original:hover,
.btn-original:active {
    color: #fff;
    background: #a4a498;   
}

.br {
    white-space: pre-line;
}
