* {
    font-family: 'Hannotate SC';
}

.body_link {
    text-decoration: none;
    color: #fff;
}

.btn-original{
    color: #fff ;
    background-color: #69563e;
}

.btn-original:hover {
    color: #fff ;
    background: #a4a498;   
}

