* {
    font-family: 'Hannotate SC';
}

.body-link {
    text-decoration: none;
    color: #fff;
}

.main-link {
    text-decoration: none;
    color: #db7133;
}

.list_color{
    color: #69563e;
}

.name-link {
    color: #a4a498
}

ul {
    list-style: none;
    color: #db7133;
    font-weight: bold;
}

.btn-original{
    color: #fff;
    background-color: #69563e;
}

.btn-original:hover
.btn-original:active {
    color: #fff;
    background: #a4a498;   
}

