<h3>Promise Recorder</h3>
<h3>パスワード変更のご案内</h3>

<p><%= @resource.email %>様</p>

<p>PromiseRecorderをご利用いただき誠にありがとうございます。下記のリンクからパスワードの変更をお願いいたします。</p>

<p><%= link_to 'パスワード変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしメールアドレスの変更をリクエストしていない場合は、このメッセージを無視してください。</p>

<p> < PromiseRecorder > </p>
